@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.sidebar-item {
  @include flex(row, unset, center);
  @include easeInAnimation;
  gap: $spacing-sm;
  color: $gray-800;
  text-decoration: none;
  border-radius: $radius-md;
  padding: $spacing-sm;
  cursor: pointer;
  position: relative;

  &::before {
    @include position(absolute, 0, unset, 0, 0);
    content: '';
    width: 3px;
    background: $primary-color;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  &:hover {
    background: $gray-100;
    color: $gray-900;

    &::before {
      transform: translateX(0);
    }
  }

  &.active {
    background: $gray-200;
    color: $gray-900;

    &::before {
      transform: translateX(0);
    }

    .item-icon {
      transform: scale(1.1);
    }
  }

  .item-icon {
    @include size(20px);
    @include easeInAnimation;
    object-fit: contain;
    filter: grayscale(100%) contrast(1.2);
  }

  .item-label {
    @include font($font-size-sm, $font-weight-medium);
  }
}
