@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.sidebar-footer {
  border-top: 1px solid #ddd;

  .nav-items {
    @include flexColumn;
    gap: $spacing-sm;
    padding: 1rem;

    app-sidebar-item {
      display: block;

      &:hover {
        color: $black;
      }
    }
  }
}
