@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.sidebar-content {
  @include flexColumn;
  @include scrollbar();
  flex: 1;
  gap: $spacing-lg;
  overflow-y: auto;
  padding: 1.5rem;

  .sidebar-section {
    @include flexColumn;
    gap: $spacing-sm;

    &:last-child {
      margin-bottom: 0;
    }

    .sidebar-title {
      @include font($font-size-xs, $font-weight-semibold, 1, 0.5);
      color: $gray-500;
      text-transform: uppercase;
    }

    .nav-items {
      @include flexColumn;
      gap: $spacing-sm;
    }
  }
}

