<nav class="navbar">
  <div class="navbar-brand">
    <img src="assets/icons/logo.png" alt="Logo" class="brand-logo" />
    <span class="brand-text">{{ title }}</span>
  </div>

  <div class="navbar-actions">
    <button class="icon-button" title="Notifications">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
      </svg>
    </button>

    <div class="user-menu">
      <img src="../../../assets/icons/profile.png" alt="User" class="user-avatar">
      <span class="user-name">User</span>
    </div>
  </div>
</nav>
